@use "./mixins.scss";

$base: #5cced6;
$accent: #33f1ff;

@function shade($shade, $alpha) {
    @return rgba($shade, $shade, $shade, $alpha);
}

$colors: (
    primary: $base,
    link: darken($base, 20%),
    link-hover: darken($base, 10%),
    navtext: lighten($base, 10%),
    navtext-hover: $accent,
    nav: shade(33, 0.7),
    nav-hover: shade(40, 0.7),
    nav-active: rgba(20, 78, 82, 0.7),
    card: shade(55, 0.6),
    gradient-light: lighten($base, 10%),
    gradient-dark: darken($base, 40%),
);

@function color($color) {
    @return map-get($colors, $color);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu";
    box-sizing: border-box;
}

html, body { height: 100%; }

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: color(nav);
    z-index: 1002;

    #menuList {
        height: 50px;
        width: 100vw;
        margin-left: auto;
        overflow: hidden;

        li {
            list-style-type: none;
            width: 25vw;
            float: left;
            text-align: center;
        }

        a {
            display: block;
            text-decoration: none;
            font-size: 22px;
            color: color(navtext);
            line-height: 50px;
        }
        
        a:hover {
            background-color: color(nav-hover);
            color: color(navtext-hover);
        }

        a:active {
            background-color: color(nav-active);
        }
    }
}

#home, #about, #gallery , #contact {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
}

.home-container, .about-container, .contact-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: color(primary);

    h1 {
        font-size: 2.2em;
        padding-bottom: 0.5em;

        span {
            background: -webkit-linear-gradient(color(gradient-light), color(gradient-dark));
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    p, > ul {
        display: block;
        background-color: color(card);
        border-radius: 10px;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5em;
        font-size: 1.2em;
        color: color(primary);
        text-shadow: 1px 1px 3px black;
        box-shadow: 0px 0px 6px 6px color(card);
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: color(link);
    }

    a:hover {
        color: color(link-hover);
    }
}

.home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}

#credits {
    width: 100%;
    display: table-cell;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    ul {
        display: block;
        list-style-type: none;
        color: color(primary);
    }
}

#gallery {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    display: table;

}

#gallery * { box-sizing: border-box; }

.gallery-container {
    overflow: visible;
    transform-style: preserve-3d;

}

.carousel__photo {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100%;
    height: 85vh;
    object-fit: contain;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transform: transform .5s, z-index .5s;
}

.carousel__photo.initial, .carousel__photo.active {
    position: relative;
    z-index: 900;
}

.carousel__photo.prev, .carousel__photo.next {
    z-index: 800;
}

.carousel__photo.prev {
    transform: translateX(-100%);
}

.carousel__photo.next {
    transform: translateX(100%);
}

.carousel__button--prev, .carousel__button--next {
    position: absolute;
    top: 50vh;
    width: 3rem;
    height: 3rem;
    margin: 0.5em;
    background-color: white;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    border: 1px solid black;
    opacity: 0.4;
    transition: opacity 1s;
}

.carousel__button--prev:hover, .carousel__button--next:hover {
    opacity: 0.8;
}

.carousel__button--prev {
    left: 0;
}

.carousel__button--next {
    right: 0;
}

.carousel__button--prev::after,
.carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (min-width: 650px) {
    .home-container, .about-container, .contact-container {
        p, > ul {
            width: 45vw;
        }
    }
}
