@use "./mixins.scss";

$base: #5cced6;
$accent: #33f1ff;

@function shade($shade, $alpha) {
    @return rgba($shade, $shade, $shade, $alpha);
}

$colors: (
    primary: $base,
    link: darken($base, 20%),
    link-hover: darken($base, 10%),
    navtext: lighten($base, 10%),
    navtext-hover: $accent,
    nav: shade(33, 0.7),
    nav-hover: shade(40, 0.7),
    nav-active: rgba(20, 78, 82, 0.7),
    card: shade(55, 0.6),
    gradient-light: lighten($base, 10%),
    gradient-dark: darken($base, 40%),
);

@function color($color) {
    @return map-get($colors, $color);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu";
}

html, body { height: 100vh; }

body {
    scroll-snap-type: y mandatory;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: color(nav);
    z-index: 1002;

    #menuList {
        height: 80px;
        width: 100vw;
        margin-left: auto;
        overflow: hidden;

        li {
            list-style-type: none;
            width: 25vw;
            float: left;
            text-align: center;
        }

        a {
            display: block;
            text-decoration: none;
            font-size: 22px;
            color: color(navtext);
            line-height: 80px;
        }
        
        a:hover {
            background-color: color(nav-hover);
            color: color(navtext-hover);
        }

        a:active {
            background-color: color(nav-active);
        }
    }
}

#home,
#about,
#gallery ,
#contact {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.home-container,
.about-container,
.contact-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: color(primary);
    font-size: 3vw;

    h1 {
        display: block;
        font-size: 2.2em;
        padding: 0.5em;
        margin-left: auto;
        margin-right: auto;
        white-space: pre-wrap;

        span {
            background: -webkit-linear-gradient(color(gradient-light), color(gradient-dark));
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    p,
    > ul {
        display: block;
        background-color: color(card);
        border-radius: 10px;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5em;
        font-size: 1.2em;
        color: color(primary);
        text-shadow: 1px 1px 3px black;
        box-shadow: 0px 0px 6px 6px color(card);
        list-style-type: none;
    }

    li + li {
        margin-top: .3em;
    }

    a {
        text-decoration: none;
        color: color(link);
    }

    a:hover {
        color: color(link-hover);
    }
}

.home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

#gallery {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
}

#gallery * { box-sizing: border-box; }

.gallery-container {
    height: 100vh;
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    -ms-transform-style: flat;
    transform-style: flat;
    perspective: 100cm;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel__photo {
    opacity: 0;
    position: absolute;
    top:50vh;
    transform: translateY(-50%);
    width: 100%;
    max-height: 50vh;
    margin: auto;
    padding: 0.2rem 0.8rem;
    object-fit: contain;
    z-index: 1;
    transition: transform .5s, opacity .5s, z-index .5s;
}
  
/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel__photo.initial,
.carousel__photo.active {
    opacity: 1;
    position: relative;
    z-index: 10;
}
  
  /* Set 'z-index' to sit behind our '.active' item. */
.carousel__photo.prev,
.carousel__photo.next {
    z-index: 5;
}
  
  /* Translate previous item to the left */
.carousel__photo.prev {
    transform: translateX(-100vw);
}
  
  /* Translate next item to the right */
.carousel__photo.next {
    transform: translateX(100vw);
}
  
  /* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel__button--prev,
.carousel__button--next {
    display: table-cell;
    position: absolute;
    bottom: 0vh;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #FFF;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer; 
    z-index: 1001; /* Sit on top of everything */
    border:1px solid black;
  /*  opacity: 0;  Hide buttons until carousel is initialised 
    transition:opacity 1s;*/
}
  
.carousel__button--prev {
    left:4rem;
}
  
.carousel__button--next {
    right:4rem;
}
  
  /* Use pseudo elements to insert arrows inside of navigation buttons */
.carousel__button--prev::after,
.carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 50%;
    left: 54%;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
}
  
.carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#credits {
    width: 100%;
    display: table-cell;
    position: absolute;
    bottom: 0vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    ul {
        display: block;
        list-style-type: none;
        color: color(primary);
    }
}


/* DESKTOP */
@media screen and (min-width: 650px) {
    nav {
        height: 50px;

        #menuList {
            height: 50px;

            a {
                line-height: 50px;
            }
        }
    }

    .home-container, .about-container, .contact-container {
        font-size: 1.7vw;

        p, > ul {
            width: 45vw;
        }
    }

    .home-logo {
        width: 20%;
    }

    .gallery-container {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        perspective: 100cm;
    }

    .carousel__photo {
        margin: auto;
        padding: 1rem 4rem;
        max-height: 82vh;
    }

    .carousel__button--prev,
    .carousel__button--next {
        top:50vh;
        width: 3rem;
        height: 3rem;
        margin: none;
    }

    .carousel__button--prev {
        left:0.5em;
    }
      
    .carousel__button--next {
        right:0.5em;
    }
    .carousel__button--prev::after,
    .carousel__button--next::after {
        width: 10px;
        height: 10px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }
}